#frame {
  top: 10px;
  left: 10px;
  /*270px / 400px*/
  width: 270px;
  /*120px / 400px*/
  height: 270px;
  /*106px / 106px*/
  position: absolute;

}

#curler {
  width: 10%;
  height: 10%;
  background: conic-gradient(at 100% 30%, #131b23, #e9f1f7);
  position: absolute;
  top: 43.4%;
  /*46px / 106px*/
  left: 0px;
}

#leverDown {
  width: 10%;
  height: 0;
  top: 45.3%;
  /*48px / 106px*/
  left: 63.33%;
  /*76px / 120px*/
  background: conic-gradient(at 100% 0%, #e9f1f7, #131b23);
  position: absolute;
  animation-name: animationLeverDown;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2.5s;
  animation-timing-function: linear;
}

@keyframes animationLeverDown {
  0% {
    height: 0%;
  }

  25% {
    height: 46%;
  }

  50% {
    height: 0%;
  }

  100% {
    height: 0%;
  }
}

#lever {
  width: 20%;
  height: 7.5%;
  left: 63.33%;
  /*76px / 120px*/
  background: conic-gradient(at 100% 0%, #e9f1f7, #131b23);
  position: absolute;
  animation-name: animationLever;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animationLever {
  0% {
    top: 45.3%;
    /*48px / 106px*/
  }

  25% {
    top: 0;
  }

  50% {
    top: 45.3%;
    /*48px / 106px*/
    /*kada je blize onda je vece*/
    width: 36.66%;
    /*44px / 120px*/
    height: 11.32%;
    /*12px / 106px*/
  }

  75% {
    top: 90.57%;
    /*96px / 106px*/
    left: 63.33%;
    /*76px / 120px*/
  }

  100% {
    top: 45.3%;
    /*48px / 106px*/
  }
}

#leverUp {
  width: 6.67%;
  /*8px / 120px*/
  height: 45.28%;
  /*48px / 106px*/
  left: 63.33%;
  /*76px / 120px*/
  background: conic-gradient(at 100% 0%, #5a5e5d, #3c3e3e);
  position: absolute;
  animation-name: animationLeverUp;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animationLeverUp {
  0% {
    height: 0%;
    top: 45.3%;
    /*48px / 106px*/
  }

  25% {
    height: 45.28%;
    /*48px / 106px*/
    top: 0px;
  }

  50% {
    height: 0%;
    top: 45.3%;
    /*48px / 106px*/
  }

  100% {
    height: 0%;
    top: 45.3%;
    /*48px / 106px*/
  }
}

#axis {
  width: 20%;
  /*24px / 120px*/
  height: 7.547%;
  /*8px / 106px*/
  top: 45.3%;
  /*48px / 106px*/
  left: 50%;
  /*60px / 120px*/
  background: conic-gradient(at 100% 0%, #e9f1f7, #131b23);
  position: absolute;
}

#body {
  width: 40%;
  /*48px / 120px*/
  height: 26.5%;
  /*28px / 106px*/
  top: 35.85%;
  /*38px / 106px*/
  left: 10%;
  /*12px / 120px*/
  background-color: #131b23;
  background: conic-gradient(at 0% 0%, #e9f1f7, #131b23);
  position: absolute;
}

#stand {
  width: 6.66%;
  /*8px / 120px*/
  height: 37.74%;
  /*40px / 106px*/
  top: 62.26%;
  /*66px / 106px*/
  left: 43.33%;
  /*52px / 120px*/
  background: conic-gradient(at 100% 0%, #e9f1f7, #131b23);
  position: absolute;
}

#pastaEntrance {
  width: 27.5%;
  /*33px / 120px*/
  height: 36.32%;
  /*38.5px / 106px*/
  left: 16.67%;
  /*20px / 120px*/
  top: 0;
  background: conic-gradient(at 0% 0%, #ffbd00, white);
  position: absolute;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.choppedPasta {
  width: 3.333%;
  /*4px / 120px*/
  background: conic-gradient(at 0% 0%, #ffbd00, #f7b2ad);
  position: absolute;
}

#pastaOne,
#pastaThree {
  top: 62.26%;
  /*66px / 106px*/
  animation: animationPastaSecond 4s ease-in-out 0s infinite normal none;
}

#pastaOne {
  left: 16.67%;
  /*20px / 120px*/
}

#pastaThree {
  left: 33.33%;
  /*40px / 120px*/
}

#pastaTwo,
#pastaFour {
  top: 62.26%;
  /*66px / 106px*/
  animation: animationPasta 4s ease-in-out 0s infinite normal none;
}

#pastaTwo {
  left: 25%;
  /*30px / 120px*/
}

#pastaFour {
  left: 41.666%;
  /*50px / 120px*/
}

@keyframes animationPasta {
  0% {
    height: 0px;
    top: 62.26%;
    /*66px / 106px*/
  }

  50% {
    height: 38.678%;
    /*41px / 106px*/
    top: 62.26%;
    /*66px / 106px*/
  }

  100% {
    height: 0px;
    top: 100%;
  }
}

@keyframes animationPastaSecond {
  0% {
    height: 0px;
    top: 62.26%;
    /*66px / 106px*/
  }

  70% {
    height: 38.678%;
    /*41px / 106px*/
    top: 62.26%;
    /*66px / 106px*/
  }

  100% {
    height: 0%;
    top: 100%;
  }
}
